/* styling for DSAIRM app
------------------------------------------- */


/* Image
---------------*/


.image {
  	max-width: 100%;
	padding: 0;
	text-align: center;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

.figure {
  	width: 50%;
	text-align: center;
	font-style: italic;
  	border: thin silver solid;
	padding: 0.5em;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}

/* Image inside figure div, for diagrams
---------------*/

.figure img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.caption {
	padding: 0;
	margin: auto;
}



/* ------- Tables ------- */
table {
	margin: 10px;
	border-spacing: 0;
}
table th {
 /* Box-model */
	padding: 5px;

  /* Typography */
	font-size: 16px;
	line-height: 36px;

  /* Visual */
	background-color: #403c3d;
	color: #fff;
	border: 1px solid #ccc; /* light grey */
  border-bottom: 0;
}
table thead th:empty {
	background: transparent;
	border: none;
}
table caption {
	font-weight: bold;
}
tr:nth-child(2n+1) {
  /* Visual */
	background-color: #f9f9f9;  /* near white */
	color: #000; /* black */
}
table td {
	padding: 2px;
	border-collapse: collapse;
	border: 1px solid #ccc; /* light grey */
}


/* My additions
-------------------- */

#shinyheadertitle
{
	color: #123c66;
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}

#shinyheadertext
{
	color: #123c66;
	text-align: center;
	font-size: 100%;
}

#shinyapptitle
{
	color: #123c66;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}


#classauthor
{
	color: black;
	font-weight: normal;
	text-align: center;

}

#mylicense
{
	text-align: center;
	font-size: 70%;

}

iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#mytextbox
{
	border: 10px solid #cfd7e0;
	color: black;
	font-weight: normal;
}

.myinput
{
	display: inline-block;
	width: 100px;
	vertical-align: bottom;
	font-size: 0.8em;
}


.MathJax {
	font-size: 2em;
}



/* shiny progress bar
-------------------- */


.shiny-progress-container {
	top: 40px;
}

.progress-message {
	color: red;
}

.shiny-notification{
  position: fixed;
  top: 33%;
  left: 33%;
  right: 33%;
}


.mainbutton {
	text-align: center;
	color: #000000;
	background-color: #bfc8ef;
	font-size: 1.2em;
	display: inline-block;
	margin-right: 10px;
}

.submitbutton {
	text-align: center;
	color: #000000;
	background-color: #bfc8ef;
}

.exitbutton {
	padding-top: 10px;
	text-align: center;
	color: #000000;
	background-color: #eaac9d;
	font-size: 1.2em;
	display: inline-block;
}

.mainmenurow {
	text-align: center;
	padding-top: 0em;
    padding-bottom: 0em;
}

.maintext {
	text-align: center;
	color: #2a3f9e;
	font-weight: bold;
}

.mainsectionheader {
	text-align: center;
	color: #2846cc;
	font-weight: bold;
	font-size: 1.5em;
    padding-top: 1em;
}


#infotext {
	text-align: center;
	color: #2a3f9e;

}

#bottomtext {
	text-align: center;
	color: black;
}

.bottomtext {
	text-align: center;

}

#taskfloat {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.3;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#taskfloat:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}
