/* Handel midifications for shiny apps
 * Last Modified: 2016-06-06
------------------------------------------- */


/* Color Glossary for easy changing of colors later
 * grey:  #403c3d
 * dark grey:  #333
 * light grey: #ccc
 * near white: #f9f9f9
 * light blue: #3388CC
 * blue: #005599
 * red: #FF0000
------------------------------------------------ */


/* Image
---------------*/
img {
  	max-width: 100%;
	max-height: 90%;
	padding: 6px;
}
.image {
  	max-width: 100%;
	max-height: 90%;
	padding: 0;
	text-align: center;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}
.figure {
	text-align: center;
	font-style: italic;
  	border: thin silver solid;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}
.caption {
	padding: 0;
	margin: auto;
}

/* ------- Tables ------- */
table {
	margin: 10px;
	border-spacing: 0;
}
table th {
 /* Box-model */
	padding: 5px;

  /* Typography */
	font-size: 16px;
	line-height: 36px;

  /* Visual */
	background-color: #403c3d;
	color: #fff;
	border: 1px solid #ccc; /* light grey */
  border-bottom: 0;
}
table thead th:empty {
	background: transparent;
	border: none;
}
table caption {
	font-weight: bold;
}
tr:nth-child(2n+1) {
  /* Visual */
	background-color: #f9f9f9;  /* near white */
	color: #000; /* black */
}
table td {
	padding: 2px;
	border-collapse: collapse;
	border: 1px solid #ccc; /* light grey */
}


/* My additions
-------------------- */

#shinyheadertitle
{
	color: #123c66;
	font-weight: bold;
	text-align: center;
	font-size: 120%;
}

#shinyheadertext
{
	color: #123c66;
	text-align: center;
	font-size: 100%;
}


#classauthor
{
	color: black;
	font-weight: normal;
	text-align: center;

}

#mylicense
{
	text-align: center;
	font-size: 70%;

}

iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#mytextbox
{
	border: 10px solid #cfd7e0;
	color: black;
	font-weight: normal;
}

.myinput
{
	display: inline-block;
	width: 100px;
	vertical-align: bottom;
}


.MathJax {
	font-size: 2em;
}

.diagramfig {
  	width: 50%;
	display: block;
 	margin-left: auto;
  	margin-right: auto;
}


/* shiny progress bar
-------------------- */


.shiny-progress-container {
	top: 40px;
}

.progress-message {
	color: red;
}

.shiny-notification{
  position: fixed;
  top: 33%;
  left: 33%;
  right: 33%;
}


.mainbutton {
	text-align: center;
	color: #000000;
	background-color: #D2FFE2;
	border-spacing: 5px;
	width: 300px;
}

.submitbutton {
	text-align: center;
	color: #000000;
	background-color: #D2FFE2;
	border-spacing: 20px;
	width: 200px;
}

.exitbutton {
	text-align: center;
	color: #000000;
	background-color: #FF0000;
	width: 200px;
}

.mainmenurow {
	text-align: center;
	padding-top: 1em;
    padding-bottom: 1em;
}

.maintext {
	text-align: center;
	color: #2a3f9e;
	font-weight: bold;
}

.mainsectionheader {
	text-align: left;
	color: green;
	font-weight: bold;
	font-size: 2em;
}


.infotext {
	text-align: center;
	color: #2a3f9e;

}

